#basic-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    min-width: 220px;
}

#basic-wrapper svg {
    max-height: 100%;
    width: 100%;
    margin: 0;
}

#info-panel {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 250px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #404040;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
}

#info-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

#info-content {
    font-size: 14px;
    color: #404040;
}
